/* Estilos para la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Estilos para las celdas del encabezado */
.table th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: red;
}

/* Estilos para las celdas de datos */
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: white;
}

/* Estilos para la imagen del póster */
.poster-cell img {
  max-width: 100px;
  height: auto;
}

/* Estilos para los botones al pasar el ratón */
.botones button:hover {
  background-color: #000000; /* Color verde más oscuro */
  color: white;
}

/*----*/

/* Estilos para los botones */
.botones button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  background-color: #000000; /* Color verde */
  color: white;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
